<div data-ng-include src="'views/includes/connection.html'"></div>
<div class="box" ng-controller="StatisticsController as SC" ng-init="SC.getDifficulties()">
	<div class="heading margin1">
		<h1 class="heading__title">
			{{ SC.chartType }}
		</h1>	
		<div class="heading__sm">
			<h5 class="heading__smLabeled fsz-21">
				{{ SC.chartText[ SC.chartType ] }}
			</h5>
		</div>
	</div>

	<div class="section-chartDiff">
		<div class="col-xs-12 col-md-122 col-gray">
			<table class="table1">
				<tbody>
					<tr>
						<td class="text-right"><a href="stats/{{ SC.chartType + '/' + button.days }}"
						   class="btn-copy"
						   ng-class="{ 'active' : SC.chartDays == button.days }"
						   ng-repeat="button in SC.daysButtons">
							{{ button.name }}</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="">
				<div class="">
					<canvas id="line"
							class="chart chart-line"
							chart-data="SC.chartOptions.data"
							chart-labels="SC.chartOptions.labels"
							chart-series="SC.chartOptions.series"
							chart-options="SC.chartOptions.options"
							chart-dataset-override="SC.chartOptions.datasetOverride"
							height="115">
					</canvas>
				</div>
			</div>
		</div>
	</div>
</div>
