<div data-ng-include src="'views/includes/connection.html'"></div>
<div class="box" ng-controller="ChartsController as CC" ng-init="CC.init()">
    <div class="col-xs-12 col-md-122 col-gray">
		<div class="heading margin1 heading-width-900">
			<h1 class="heading__title" translate>Safecoin Circulation</h1>
			<div class="heading__sm">
				<h5 class="heading__smLabeled fsz-21" translate>
					The current supply of Safecoin on the network.
				</h5>
			</div>
		</div>

		<div class="section-charts">
				<table class="table1">
					<tbody>
						<tr>
							<td class="text-right"><a href="/charts?days={{ button.days }}"
							   class="btn-copy"
							   ng-class="{ 'active' : CC.chartDays == button.days }"
							   ng-repeat="button in CC.daysButtons">
								{{ button.name }}</a>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="">
					<div class="">
						<canvas id="line"
								class="chart chart-line"
								chart-data="CC.chartOptions.data"
								chart-labels="CC.chartOptions.labels"
								chart-series="CC.chartOptions.series"
								chart-options="CC.chartOptions.options"
								chart-dataset-override="CC.chartOptions.datasetOverride"
								height="115">
						</canvas>
					</div>
				</div>
		</div>
	</div>
</div>
