{{'Blocks'|translate}}
{{'Status'|translate}}
{{'Statistics'|translate}}
{{'Nodes'|translate}}
{{'Pools'|translate}}
{{'The daily average of fees paid to miners per transaction.'|translate}}
{{'The number of daily confirmed SAFE transactions.'|translate}}
{{'The total value of all transaction outputs per day (includes coins returned to the sender as change).'|translate}}
{{'A relative measure of how difficult it is to find a new block. The difficulty is adjusted periodically as a function of how much hashing power has been deployed by the network of miners.'|translate}}
