<div data-ng-include src="'views/includes/connection.html'"></div>
<section>
<div class="box" data-ng-controller="StatusController" data-ng-init="getPeers()">
	<div class="col-xs-12 col-md-122 col-gray">
		<div class="heading margin1 heading-width-900">
			<h1 class="text-center">
				<span translate>Connected Nodes:</span>
			</h1>
		</div>
		<table class="table table-hover table-striped">
			<thead>
			  <tr>
				<th translate> Address</th>
				<th class="text-right" translate>Protocol</th>
				<th class="text-right" translate>Version</th>
				<th class="text-right" translate>Connection Duration</th>
			  </tr>
			</thead>
			<tbody>
			<tr data-ng-show="loading">
			  <td colspan="5"><span translate>Waiting for nodes...</span> <span class="loader-gif"></span></td>
			</tr>
			<tr class="fader" data-ng-repeat='p in peers'>
			  <td>{{p.address}}</a></td>
			  <td class="text-right">{{p.protocol}}</td>
			  <td class="text-right">{{p.version}}</td>
			  <td class="text-right"><span data-ng-show="p.uptime.Days" translate>{{p.uptime.Days}} days </span>&nbsp;<span data-ng-if=" (p.uptime.Hours) || (p.uptime.Days) " translate> {{p.uptime.Hours}} hrs </span>&nbsp;<span data-ng-if=" (p.uptime.Hours) || (p.uptime.Days) || (p.uptime.Minutes) " translate> {{p.uptime.Minutes}} mins </span>&nbsp;<span translate> {{p.uptime.Seconds}} secs </span></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</section>
