<div data-ng-include src="'views/includes/connection.html'"></div>
<div class="box" ng-controller="PoolsController as PC" ng-init="PC.init()">
	<div class="col-xs-12 col-md-122 col-gray">
		<div class="heading margin1 heading-width-900">
			<h1 class="text-center">
				<span translate>Safecoin Pools</span>
				<small>{{pagination.current}}</small>
			</h1>
		</div>
	<table class="table">
        <thead>
		<tr>
		<td class="m50v text-center col-md-1">
		  <a class="btn btn-primary" href="pools/{{pagination.prev}}"><small>&larr; {{pagination.prev}}</small></a>
		</td>

        <td class="lead text-center m20v col-md-10" id="adjust-left">
					<a href="#" class="btn btn-primary btn-xs" datepicker-popup show-button-bar="false" data-ng-click="openCalendar($event)" data-ng-model="dt" is-open="opened" data-ng-required="true"><span class="glyphicon glyphicon-calendar"></span></a>
		</td>

        <td class="m50v text-center col-md-1">
		  <a class="btn btn-primary" href="pools/{{pagination.next}}" data-ng-show="!pagination.isToday"><small>{{pagination.next}} &rarr;</small></a>
		  <a class="btn btn-primary" style="visibility: hidden" data-ng-show="pagination.isToday"><small>{{pagination.next}} &rarr;</small></a>
		</td>
		</tr>
		</thead>
    </table>
		<h2>
		<div class="section__heading text-left">
			<span translate>Percent of {{PC.chartOptions.blocks}} total blocks found:</span>
		</div>
		<div class="section-charts">
				<div class="">
					<div class="">
						<canvas id="horizontalBar"
								class="chart chart-horizontalBar"
								chart-data="PC.chartOptions.data"
								chart-type="type"
								chart-labels="PC.chartOptions.labels"
								chart-series="PC.chartOptions.series"
								chart-options="PC.chartOptions.options"
								chart-dataset-override="PC.chartOptions.datasetOverride"
								height="115">
						</canvas>
					</div>
				</div>
		</div>
		</h2>
		<table class="table table-hover table-striped">
			<thead>
			  <tr>
				<th translate> Pool Name</th>
				<th class="text-right" translate># of Blocks Found</th>
				<th class="text-right" translate>% of Total Blocks</th>
				<th class="text-right" translate>Effective Hashrate</th>
				<th class="text-right hidden-xs" translate>Pool Address</th>
			  </tr>
			</thead>
			<tbody>
			<tr data-ng-show="loading">
			  <td colspan="5"><span translate>Waiting for pools...</span> <span class="loader-gif"></span></td>
			</tr>
			<tr class="fader" data-ng-repeat='p in pools'>
			  <td><span class="glyphicon glyphicon-stop" style= "color:{{p.fill}}">&nbsp</span><a href="{{p.url}}" title="{{p.poolName}}" target="_blank" data-ng-show="p.address">{{p.poolName}}</a></td>
			  <td class="text-right">{{p.blocks_found}}</td>
			  <td class="text-right">{{p.percent_total }} %</td>
			  <td class="text-right">{{((p.percent_total / 100) * nethash)/ 1000 | numeraljs : '0,0.00'}} kH/s</td>
			  <td class="text-right hidden-xs"><a href="address/{{p.address}}">{{p.address}}</a></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
