<div data-ng-include src="'views/includes/connection.html'"></div>
<section>
<div class="box" data-ng-controller="StatusController" data-ng-init="getZelNodes()">
	<div class="col-xs-12 col-md-122 col-gray">
		<div class="heading margin1 heading-width-900">
			<h1 class="text-center">
				<span translate>Connected ZelNodes:</span>
			</h1>
		</div>
		<table class="table table-hover table-striped">
			<thead>
			  <tr>
				<th translate> Address</th>
				<th class="text-right" translate>Protocol</th>
				<th class="text-right" translate>Version</th>
				<th class="text-right" translate>Tier</th>
			  </tr>
			</thead>
			<tbody>
			<tr data-ng-show="loading">
			  <td colspan="5"><span translate>Waiting for ZelNodes...</span> <span class="loader-gif"></span></td>
			</tr>
			<tr class="fader" data-ng-repeat='node in zelnodes'>
			  <td>{{node.ipaddress}}</a></td>
			  <td class="text-right">{{node.network}}</td>
			  <td class="text-right">{{node.version}}</td>
			  <td class="text-right">{{node.tier}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</section>
